<div class="container-fluid users__center ">
	<div class="row" >
      	<div class="col-sm-6 col-md-offset-3">
			<div class="users__header" >
				<h1><%= @current_user.name %></h1>

			<a href="#" id="show_change">

					<img src="<%= @current_user.pic || "http://bigpicturesb.net/wp-content/uploads/2011/11/generic-profile-pic.png" %>">

			</a>
			<div id="change" class="hidden">

						<h6>Change your avatar</h6>
							<%= form_tag(user_path(@current_user), method: "put") do %>
							<%= text_field_tag :image %><br>
							<%= submit_tag "Change" %>
							<% end %>

			</div>

			</div>	
		</div>
	</div>
	<div class="users__spacer">
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<div class="users__content">
				<%= form_tag "/users/#{session[:user_id]}/tests/new", method: :GET do %>
				<%= submit_tag "take test" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="users__spacer">
	</div>
</div>
			
