<h1><%= @current_user.name %></h1>

<img src="<%= @current_user.pic %>">

<h6>Change your avatar</h6>
	<%= form_tag(user_path(session[:user_id]), method: "put") do %>
		<%= text_field_tag :image %><br>
		<%= submit_tag "Change" %>
	<% end %>

	<h1>Merits:</h1>

	<h1>Tests:</h1>