				<div>

					<%= form_tag("/users/#{session[:user_id]}/tests/show", method: "put") do %>
						<% @questions.each do |question| %>


								<audio controls="controls">
									Your browser does not support the <code>audio</code> element.
								  	<source src="/mp3s/<%= question.audio %>" type="audio/mp3">
								</audio>

								<select>
									<% question.other_answers.each do |answer| %>
  										<option value="<%= answer %>"><%= answer %></option>
  									<% end %>
								</select>

								<hr>
								
						<% end %>

					
						<%= submit_tag "Submit Answers" %>
					<% end %>
				</div>