<div class="container-fluid tests__center">
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<%= form_tag("/users/#{session[:user_id]}/tests/#{@test.id}", method: "put") do %>

				<div class="tests__header">
					<% @questions.each_with_index do |question, index| %>
						<audio controls="controls">
							Your browser does not support the <code>audio</code> element.
								<source src="https://dl.dropboxusercontent.com/u/72453092/mp3s/<%= question.audio %>" type="audio/mp3">
						</audio>

						<select name="<%= index + 1 %>">
							<% question.other_answers.each do |answer| %>
  									<option value="<%= answer %>" name="<%= answer %>"><%= answer %></option>
  							<% end %>
						</select>
						
						<hr>			
					<% end %>
				</div>
		</div>
	</div>
	<div class="tests__spacer">
	</div>
		<div class="row">
			<div class="col-sm-6 col-md-offset-3">
				<div class="tests__submit">
					<%= submit_tag "Submit Answers" %>
					<% end %>
				</div>
			</div>
		</div>	
		<br><br><br>
</div>