<div class="container-fluid tests__center">
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<% @test_entries.each do |test_entry| %>
				<div class="tests__header">
					<div class="">

					<audio controls="controls" preload="auto" src="https://davidwightman.org/mp3s/<%= test_entry.question.audio %>" type="audio/mp3"></audio>

					<img src="https://davidwightman.org/img/<%= test_entry.question.img %>">	
					</div>
					<div class="<%= test_entry.question.answer == test_entry.student_answer ? "correct" : "incorrect" %>">
						This is a <%= test_entry.question.answer %>.<br>
						Your answer: <%= test_entry.student_answer %>

					</div>
				</div>
			<% end %>

				<div class="tests__spacer">
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<div class="tests__header">
				<%= form_tag("/users/#{session[:user_id]}", method: "get") do %>
					<%= submit_tag "back to profile" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="tests__spacer">
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<div class="tests__header">
				<%= form_tag "/users/#{session[:user_id]}/tests/new", method: :GET do %>
				<%= submit_tag "try again" %>
				<% end %>
			</div>
		</div>
	</div>
<br><br><br>
</div>	
				