example 1 play button radio buttons

					<div>
					<h1>Example 1</h1>
						<% @questions.each do |question| %>
							<div>
								<h3> <%= question.name %> </h3>
								
								<%= form_tag tasting_path(tasting.id), method: :put do %>
									<%= text_area_tag :tasting_notes, tasting.tasting_notes, :class => 'users__tasting_notes' %>
									<br>
									<%= submit_tag %>
									<br>
								<%= link_to 'Remove', tasting_path(tasting.id), method: :delete %>
								<hr>
								<% end %>
							</div>
						<% end %>
					</div>





<div></div>
<div></div>
<div></div>
<div></div>