<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Intervals</title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet" type="text/css">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>



  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header navbar-brand">Intervals</div>
      <div class="margin-right">
            <div><%=link_to("Home", user_path(session[:user_id])) %></div>
            <div><%=link_to("Log Out", "/sessions", method: :delete) %></div>
      </div> 
    </div>
  </nav>

<% end %>

<%= yield %>

</body>
</html>
